link(href="https://cdn.jsdelivr.net/npm/swiper@4/dist/css/swiper.min.css", rel="stylesheet")
script(src="https://cdn.jsdelivr.net/npm/swiper@4/dist/js/swiper.min.js")

script.
  var swiperAnimation = new SwiperAnimation();
  var mySwiper = new Swiper('.swiper-container', {
    hashNavigation: {
      watchState: true,
      replaceState: true
    },
    on: {
      init: function () {
        swiperAnimation.init(this).animate();
      },
      slideChange: function () {
        swiperAnimation.init(this).animate();
      }
    }
  });

  console.log(mySwiper);
