link(href="//cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css", rel="stylesheet")
script(src="//cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js")

script.
  var swiperAnimation = new SwiperAnimation();

  var mySwiper = new Swiper('.swiper-container', {
    //    hashnav: true,
    //    hashnavWatchState: true,
    //    replaceState: true,
    onInit: function (swiper) {
      swiperAnimation.init(swiper).animate();
    },
    onSlideChangeEnd: function (swiper) {
      swiperAnimation.init(swiper).animate();
    }
  });

  console.log(mySwiper);